---
layout: render.njk
title:  Data render for configs
data:
---
{% from './_includes/_components.njk' import batch  %}

{{
    batch({
        test: "ibm",
        url: [
                {
                    title: "eliminating-distractions-schools",
                    link: "https://www.governor.ny.gov/programs/eliminating-distractions-new-york-schools"
                },
                {
                    title: "legislation",
                    link: "https://www.governor.ny.gov/legislation"
                },
                {
                    title: "2025-state-of-the-state",
                    link: "https://www.governor.ny.gov/programs/2025-state-state"
                },
                {
                    title: "news",
                    link: "https://www.governor.ny.gov/news"
                },
                {
                    title: "executive-orders",
                    link: "https://www.governor.ny.gov/executiveorders"
                },
                {
                    title: "governor-schedule",
                    link: "https://www.governor.ny.gov/schedule/governor-hochul-new-york-city-dutchess-county-and-albany"
                },
                {
                    title: "small-business-rescue-plan",
                    link: "https://www.governor.ny.gov/news/governor-hochul-announces-billion-dollar-rescue-plan-small-businesses-and-strengthen-new-yorks"
                },
                {
                    title: "youth-mental-health-crisis",
                    link: "https://www.governor.ny.gov/programs/addressing-youth-mental-health-crisis-new-york"
                },
                {
                    title: "mta-leadership-transcript",
                    link: "https://www.governor.ny.gov/news/audio-video-photos-b-roll-rush-transcript-governor-hochul-elected-officials-and-mta-leadership"
                },
                {
                    title: "new-penn-station",
                    link: "https://www.governor.ny.gov/programs/new-penn-station"
                },
                {
                    title: "taking-action-car-theft",
                    link: "https://www.governor.ny.gov/programs/taking-action-against-car-theft"
                },
                {
                    title: "executive-order-58-disaster-emergency",
                    link: "https://www.governor.ny.gov/executive-order/no-58-declaring-disaster-emergency-counties-albany-bronx-columbia-greene-delaware"
                },
                {
                    title: "governor-contact-form",
                    link: "https://www.governor.ny.gov/content/governor-contact-form"
                }
        ]
    })
}}