---
layout: render.njk
title:  Data render for configs
data:
---
{% from './_includes/_components.njk' import batch  %}

{{
    batch({
        test: "lighthouse-a11y",
        url: [
                {
                    title: "apply-professional-license",
                    link: "https://www.ny.gov/services/apply-professional-license"
                },
                {
                    title: "911-assistance-programs",
                    link: "https://www.ny.gov/programs/911-assistance-programs"
                },
                {
                    title: "abortion-new-york-state-know-your-rights",
                    link: "https://www.ny.gov/programs/abortion-new-york-state-know-your-rights"
                },
                {
                    title: "historic-new-york-suffragists",
                    link: "https://www.ny.gov/new-york-state-womens-suffrage-commission/historic-new-york-suffragists"
                },
                {
                    title: "new-york-and-crisis-lsrael",
                    link: "https://www.ny.gov/programs/new-york-and-crisis-lsrael"
                },
                {
                    title: "apply-snap",
                    link: "https://www.ny.gov/services/apply-snap"
                },
                {
                    title: "new-york-state-community-commission-reparations-remedies",
                    link: "https://www.ny.gov/programs/new-york-state-community-commission-reparations-remedies"
                },
                {
                    title: "open-foil-ny",
                    link: "https://www.ny.gov/programs/open-foil-ny"
                },
                {
                    title: "services",
                    link: "https://www.ny.gov/services"
                },
                {
                    title: "apply-federal-disability-benefits",
                    link: "https://www.ny.gov/services/apply-federal-disability-benefits"
                },
                {
                    title: "phone-free-schools-implementation-resources",
                    link: "https://www.ny.gov/programs/phone-free-schools-implementation-resources"
                },
                {
                    title: "enough-enough-combating-sexual-assault-college-campuses",
                    link: "https://www.ny.gov/programs/enough-enough-combating-sexual-assault-college-campuses"
                },
                {
                    title: "homepage",
                    link: "https://www.ny.gov/"
                }
        ]   
    })
}}