---
layout: layout.njk
title: NYS Digital Services
data:
---
{% from './_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks,feedback, dataCard  %}

{{
    hero({
        title:"OGS.ny.gov Accessibility and Performance Audit",
        date: "September 2025",
        image:"",
        description:" ", 
        buttons: [
        {
            text:"See the Performance Reports",
            link:"/audits/ogs/performance",
            arialabel:""
        }
        ]
    })
}}


  