{{
    global({
        siteName:"NYS Digital First Standards Report Cards",
        links: [
            {
                text:"Agency Audits",
                items:[
                    {
                        text:"OGS.ny.gov",
                        url:"audits/ogs"
                    }
                ]
            }
        ]
    })
}}