---
layout: layout.njk
title: NYS Digital Services Performance Audit
data: ogs.performance
---
{% from '../../_includes/_components.njk' import hero,categorytiles,card,bio,textarea,highlight,iconframe,quicklinks,feedback, dataCard with context %}

<h1> Data </h1>



{{
    dataCard({
        title:"performance data",
        dataSource: ogs.performance
    })
}}