---
layout: layout.njk
title: NYS Digital Services Performance Audit
data: ogs.performance
---
{% from '../../_includes/_components.njk' import hero, dataCard with context %}

{{ hero({
    title: "Automated Performance Accessibility Reports",
    description:"for OGS.ny.gov",
    image:"",
    headline:"",
    date:""
    })
}}

{{
    dataCard({
        title:"Automated Performance Reports",
        type:"performance",
        dataSource: ogs.performance,
        summary: "These reports represent a point-in-time analysis of several contributing factors to overall website performance. These tests were run using Google Lighthouse against both the desktop and mobile views of the 5 pages that were sampled. Devices were throttled to simulate a 4G loading experience. A continuous reporting environment is in progress to track performance over time. "
    })
}}