{% set cardData = params.dataSource %}
<section class="">
    <h2 class="">{{params.title}} </h2>
    {% for data in cardData %}
        <div class="flex border border-ny-blue m-4 p-4 w-2/3">
            <h2 class="text-xl">{{data.page}}</h2>
        </div>


    {% endfor %}


</section>