{% set cardData = params.dataSource %}
{% if params.type === "performance" %}
    <section class="">
        <h2 class="">{{params.title}} </h2>
        {% for data in cardData %}
            <div class="flex flex-col border border-ny-blue m-4 p-4 w-2/3 rounded-lg bg-blue-100">
                
                <h2 class="text-2xl">{{data.page}}</h2>
                <h3 class="text-xl"> Lighthouse Reports </h3>
                <ul class="">
                    <li></li>
                    <li></li>
                </ul>
            
            </div>


        {% endfor %}


    </section>






{% elif params.type === "a11y" %}



{% endif %}